{
	"extends": [
		"react",
		"prettier"
	],
	"plugins": [
		"prettier"
	],
	"rules": {
		"prettier/prettier": 1
	},
	"settings": {
		"import/resolver": {
			"webpack": {
				"config": "webpack.config.js"
			}
		}
	}
}