@import url("../assets/fonts/index.css");

@import url("./mixins/index.less");

@import url("./header.less");
@import url("./main.less");
@import url("./trackList.less");
// @import url("./track.less");

body {
    background-color: @bg-color;

    main {
        padding-top: 90px;
    }
}

a {
    text-decoration: none;
}
